@import url(./_theme/section-subtitle_theme_dark.css);

.section-subtitle {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    line-height: 34px;
    font-size: 24px;
    max-width: 60%;
    margin: 0;
}