.footer__social-icon_type_facebook {
    line-height: 30px;
    font-size: 18px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    color: #fff;
    text-decoration: none;
}

.footer__social-icon_type_facebook::before {
    content: '';
    margin-right: 5px;
    height: 16px;
    width: 16px;
    background: url(../../../../images/facebook_color_white.svg);
}