.header__subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 25px;
    max-width: 388px;
    z-index: 2;
}